<!DOCTYPE html>
<html>
  <head>
    <title>Task Score</title>
    <script>
      function validate(){
        var valid = true;
        var x = document.theform.comment;
  
        for(var i=0; i<x.length; i++){
          if(x[i].checked){
            valid = true;
            break;
          }
        }
        if(valid){
          alert("Thank you for Checking the Report");
        }
        else{
          alert("Thank you for Checking the Report");
          return true;

        }
      }
    </script>
  </head>
  <body>
    <div>
      <a href="Index.php">Home</a> |
      <a href="taskScore.html">Task Score</a> |
      <a href="perfomanceReport.html">Performance evaluation report</a> |
      <a href="contactTeacher.html">Contact Teacher</a> |
      <a href="notice.html">Notice</a>
    </div>
    <br>
    
    <h3>Final Evolution Report </h3>
    <table border="1"
  <tbody>
<tr>
<td colspan="2">
  <center>Physics</center>
</td>

</tr>
<tr>
  <td>Mid term</td>
  <td>40</td>
</tr>
<tr>
  <td>Final term</td>
  <td>30</td>
</tr>
<tr>
  <td>total</td>
  <td>70</td>
</tr>


  </tbody>
  
  
  </table>

    <br>
    <br>

  <table border="1"
  <tbody>
<tr>
<td colspan="2">
  <center>Chemistry</center>
</td>

</tr>
<tr>
  <td>Mid term</td>
  <td>50</td>
</tr>
<tr>
  <td>Final term</td>
  <td>40</td>
</tr>
<tr>
  <td>total</td>
  <td>90</td>
</tr>


  </tbody>
  
  
  </table>

  <form name="theform" onsubmit="return validate()">
  


<br>
<input type="text" rows="4" name="comment"
 placeholder="Comment here...">

<br>
<input type="submit" value="Submit" >


</form>
  </body>
</html>
